* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('../../image/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 8px #FFA800 solid;
}
.header_text {
  margin-left: auto;
  margin-right:auto;
}

.header_text_list {
  list-style-type: none;
  display: flex;
  width: 828px;
  padding-left: 258px;
}

.list_element:not(:first-child) {
 margin-left: 26px;
}

.list_element {
  line-height: 94px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 300px;
}

.logo {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #E5E5E5;
  font-family: Roboto;
  margin-left: 258px;
}

.header_list_wrap {
  height: 94px;
  width: 100vw;
  background-color: #292929;
}

.header_slogan {
  margin-top: 162px;
  margin-bottom: 200px;
  height: 162px;
  font-family: Roboto;
  font-size: 72px;
  color: #FFFFFF;
  font-style: normal;
  margin-left: 90px;
}

.travel_slogan {
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
}

.slogan_window {
 display: flex;
 margin-top: 253px;
 box-sizing: border-box;
}

.window_booking {
  background-color: #292929;
  opacity: 80%;
  padding-top: 79px;
  padding-left: 21px;
  box-sizing: border-box;
  margin-left: 104px;
}
.route {
  color:#FFFFFF;
  font-size: 30px;
  font-family: Roboto;
  line-height: 35px;
  margin-bottom: 7px;
}

.route_there {
  width: 322px;
  height: 60px;
  
}
.route_select {
  display: flex;
}

.route_back {
  width: 322px;
  height: 60px;
  margin-right: 24px;
}
.reverse_arrow {
  background-image: url(../../image/there-back.png);
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-left:8px;
  margin-right: 8px;
}
.date_route {
  margin-top: 61px;
}
.date_windows {
  display: flex;
}
.search_tickets {
  color: #292929;
  background-color: #FFA800;
  width: 323px;
  height: 60px;
  box-sizing: border-box;
  margin-left: 364px;
  margin-top: 92px;
  font-size: 24px;
  font-weight: 700px;
  border: none;
}
.date {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
color: #FFFFFF;
}

.date_there, .date_back {
  width: 320px;
  height: 60px;
}
.date_back {
  margin-left: 40px;
}

.main_description_paragraph {
font-family: Roboto;
font-weight: 700px;
font-size: 24px; 
line-height: 28.13px;
color: #292929;
margin-top: 30px;
}

.paragraph_bold_font {
  font-weight: bold;
  margin-bottom: 36px;
}

.main_description {
  box-sizing: border-box;
}

.main_description_paragraphs {
  border-left: 9px solid #FFA800;
  padding-left: 19px;
  box-sizing: border-box;
}
.main_title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
}

.description_ticket_servis {
  max-width: 1348px;
  margin-top: 144px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
}

.main_about_working_servis {
  background-image: url('../../image/main.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 75px;
}

.title_button_about_servis {
  display: flex;
  max-width: 1429px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-top: 50px;
}

.title_about_servis {
  font-size: 24px;
  font-weight: 700px;
  color: #FFFFFF;
  line-height: 28.13px;
  font-weight: 700px;
  font-family: Roboto;
}

.button_about_servis {
  width: 325px;
  height: 60px;
  color: #FFFFFF;
  line-height: 60px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700px;
  border: solid #FFFFFF 1px;
  border-radius: 5px;
  background-color: transparent;
}

.advantages_servis_list {
  list-style-type: none;
  margin-top: 107px;
  display: flex;
  width: 872px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.advantage_servis {
  width: 134px;
      height: 134px;
      border-radius: 50%;
      border: 14px rgba(229, 229, 229, 0.2) solid;
      background-color: #FFFFFF;
} 

.description_advantage {
  margin-top: 34px;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 400px;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
}

.feedback_clients {
  display: flex;
  justify-content: space-between;
}

.feedback {
  margin-top: 242px;
  max-width: 1407px;
  margin-left: auto;
  margin-right: auto;
}

.feedback_client {
  display: flex;
}

.photo_clients1 {
  background-image: url('../../image/response/response_photo1.png');
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.photo_clients2 {
  background-image: url('../../image/response/response_photo2.png');
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}


.feedback_title {
  margin-bottom: 70px;
font-family: Roboto;
font-weight: 500px;
font-size: 36px;
}

.client_name {
font-family: Roboto;
font-weight: 500px;
font-size: 18px;
line-height: 21.09px;
}

.feedback_text {
  font-family: Roboto;
  font-weight: 300px;
  font-size: 18px;
  line-height: 21.09px;
  font-style: italic;
  color: #928F94;
  margin-top: 20px;
}

.title_text_clients {
 width: 400px;
 margin-left: 20px;
}

.slider {
  display: flex;
  list-style-type: none;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}


.slider_elem1_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C4C4C4;
  border: none;
}

.slider_elem_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E5E5E5;
  border: none;
  margin-left: 10px;
}

.footer {
  background-color: #2D2B2F;
  width: 100vw;
  margin-top: 122px;
}

.contacts_subscription {
  display: flex;
  width: 1235px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.contacts_title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
color: #FFFFFF;
margin-top: 45px;
}

.contacts-item {
font-family: Roboto;
font-weight: 400;
font-size: 24px;
line-height: 24px;
color: #E5E5E5;
vertical-align: middle;
margin-left: 36px;
}

.contacts-item-span {
  display: none;
}

.contacts-link {
  display: inline-block;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 25px;
  background-position: center;
  background-color:  #2D2B2F;
}

.contacts_link-phone{
  background-image: url('../../image/footer/phone.jpg');
}

.contacts_link-email{
  background-image: url('../../image/footer/mail.png');
}

.contacts_link-skype{
  background-image: url('../../image/footer/skype.png');
}

.contacts_link-location{
  background-image: url('../../image/footer/location.png');
}

.contacts-list_item {
  margin-top: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.contacts-list_item:last-child {
  margin-top: 30px;
  height: 84px;
  display: flex;
  align-items: flex-start;
}

.subscription_title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
margin-top: 45px;
color: #FFFFFF;
}

.mailing_text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #E5E5E5;
}

.mailing-field {
 background: #FFFFFF;
border-radius: 3px;
width: 447px;
height: 60px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
margin-top: 16px;
color: #E5E5E5;
}

.button-subscription {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;

color: #E5E5E5;
}

.button-mailing {
width: 169px;
height: 60px;
background-color: #2D2B2F;
border: 1px solid #FFFFFF;
border-radius: 3px;
margin-left: 30px;
}

.subscribtion_form {
  margin-top: 30px;
}

.social-link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color:  #2D2B2F;
}

.social-link_list {
  display: flex;
  list-style-type: none;
  width: 400px;
  justify-content: space-between;
  margin-top: 28px;
  align-items: center;
  height: 38px;
}

.contacts_link-youtube {
  background-image: url('../../image/footer/youtube.png');
  width: 38px;
  height: 30px;
}

.contacts_link-i {
  background-image: url('../../image/footer/I.png');
  width: 7px;
  height: 21px;
}

.contacts_link-n{
  background-image: url('../../image/footer/n.png');
  height: 21px;
  width: 21px;
}

.contacts_link-g{
  background-image: url('../../image/footer/G.png');
  width: 30px;
  height: 30px;
}

.contacts_link-plus{
  background-image: url('../../image/footer/plus.png');
  width: 13px;
  height: 13px;
}

.contacts_link-facebook{
  background-image: url('../../image/footer/facebook.png');
  width: 14px;
  height: 30px;
}

.contacts_link-twitter{
  background-image: url('../../image/footer/twitter.png');
  width: 37px;
  height: 30px;
}

.subscription_link-title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
margin-top: 44px;
color: #FFFFFF;
}

.item_g_plus {
  display: flex;
  height: 30px;
  align-items: center;
}


.footer_lower_wrapper {
  width: 1408px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 22px;
  margin-top: 25px;
  height: 40px;
}

.footer_lower_element {
  display: none;
}

.footer_lower {
  border-top: 1px solid #E5E5E5;
  margin-top: 35px;
}

.footer_logo {
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: #E5E5E5;
}

.footer_lower_web {
  font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
color: #E5E5E5;
}

.footer_lower_arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-color:  #2D2B2F;
  background-image: url("../../image/footer/arrow.png");
  width: 13px;
  height: 8px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
}